@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 35, 37, 52;
  --background-light: 41, 44, 61;
  --background-dark: 26, 26, 34;
  --accent: 82, 55, 79;
}

body {
  @apply text-gray-300;
  background: rgb(var(--background));
}

@layer utilities {
  .vertical-text {
    writing-mode: vertical-rl;
  }
}
